.user-data {
  padding: 2em;
  font-family: 'Roboto';
  font-size: 16px;
  border: none;
}

.inputs {
  border: none !important;
  border-radius: 8px !important;
  background: #EEEEEE !important;
  color: #4E4E4E !important;
  font-family: 'Roboto' !important;
  margin-bottom: 2em !important;
  height: 36px !important;
}