@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.market-container {
    min-height: 100vh;
    font-family: "Roboto", Sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.market-content {
    padding: 1em 1em 1em 6em;
    margin-top: 10vh;
    display: flex;
    max-height: 80vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.left-market-content {
  width: 30%;
  padding-right: 2em;
}

.right-market-content {
  width: 90%;
}

  .company-card {
    position: absolute;
    top: 25%;
    left: 0;
    background-image: url('../../Assets/Imgs/topograph-background.avif');
    background-size: cover;
    background-position: center;
    width: 35vh;
    max-width: 35vh;
    height: 45vh;
    color: white;
    background-color: #888;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .company-card-placeholder {
    width: 80vh;
    max-width: 300px;
  }

  .company-card p {
    font-size: 15px;
    padding-top: 1em;
    width: 200px;
  }

  .market-sidebar {
    max-height: 70vh;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
  
  .market-sidebar-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .market-company-list {
    list-style: none;
    padding: 0;
  }
  
  .market-company-item {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    border-bottom: 2px solid #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  }
  
  .market-company-item:hover {
    border-bottom: 2px solid #ef3333;
  }
  
  .market-company-item.active {
    background-color: #ef3333;
    border-bottom: 2px solid #ef3333;
    color: white;
  }
  
  .market-info-box {
    position: relative;
    display: flex;
    padding: 30px;
    height: 85vh;
    border-radius: 10px;
    overflow-y: auto;
  }

  .market-item {
    font-size: 20px;
  }

  .market-areas {
    font-size: 25px;
    padding: 20px 0;
  }

  .market-info-box-content {
    position: relative;
    padding: 1em 2em 1em 10em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-width: 95%;
    width: 95%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .market-info-box-header {
    font-weight: 600;
    font-size: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .market-info-box-header button {
    background: none;
    border: none;
    font-size: 1.2em;
    margin-right: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    border-bottom: 4px solid #f8f7f7;
  }
  
  .market-info-box-header button:hover {
    color: #ef3333;
    border-bottom: 4px solid #ef3333;
  }
  
  .market-info-box-header button:focus {
    outline: none;
    color: #ef3333;
    border-bottom: 4px solid #ef3333;
  }

  .market-option.active {
    color: #ef3333 !important;
    border-bottom: 4px solid #ef3333;
  }

  .market-option {
    width: 25%;
    font-family: "Bebas Neue", sans-serif !important;
    color: #656565 !important;
    letter-spacing: 3px;
  }

  .market-info-box-general, .market-info-box-general-test {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
    background-color: #333;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .market-info-box-general:hover, .market-info-box-general-test:hover {
    cursor: pointer;
    color: #ef3333;
  }

  .market-info-box-general-test {
    right: 170px;
  }

  .market-company-name {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .market-data-section {
    display: flex;
    width: 80%;
  }
  
  .market-contact-info, .market-data-section {
    margin-bottom: 20px;
    padding-left: 1em;
  }
  
  .market-contact-info p, .market-data-list li {
    margin: 12px 0;
  }

  .market-list-item:hover {
    opacity: 0.9;
    color: #ef3333;
    cursor: pointer;
  }

  
  .market-data-heading {
    margin-bottom: 10px;
  }
  
  .market-data-list {
    padding-top: 1.5em;
    list-style: none;
  }

  .cert-item {
    margin: 20px 0 !important;
  }

  .market-operation-list {
    list-style: none;
    padding-top: 2em;
  }
  
  .market-graphs-section {
    margin-top: 20px;
  }
  
  .market-graph-heading {
    margin-bottom: 10px;
  }
  
  .market-graph-placeholder {
    height: 300px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
  }
  
  .graph-title {
    display: flex;
    margin-bottom: 2em;
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 600;
    font-family: "Bebas Neue", sans-serif;
    color: #696969;
  }

  .graph-title-item {
    margin: 0 5px;
  }
