.topography-form {
  border: none;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  border: none;
  background: #EEEEEE;
  font-family: 'Helvetica Neue';
  color: #4E4E4E;
}

.presition-cont {
  width: 100%;
}

.form-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.button-cont {
  text-align: center;
  margin-top: 20px;
}

.info-icon-wrapper {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.info-icon {
  color: red;
}

.button-cont {
  text-align: center;
  margin-top: 20px;
}

.form-group {
  text-align: left;
}