.general-market-graphs {
    max-height: 85vh;
    overflow: auto;
    padding: 1em;
}

.general-market-title {
    font-family: "Bebas Neue", sans-serif !important;
    color: #656565;
    letter-spacing: 3px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

.general-market-subtitle {
    color: #656565;
    margin-bottom: 2em;
    font-size: 18px;
}